In [5]:
import requests
import pandas as pd 
import numpy

In [6]:
req = requests.get("https://api.covid19india.org/v4/data.json")

In [32]:
data = req.json()
states = list(data)
data1 = []
for i in states:
    data1.append(data[i]['total'])
data1

[{'confirmed': 3868, 'deceased': 53, 'recovered': 3642, 'tested': 61231},
 {'confirmed': 713014,
  'deceased': 5941,
  'recovered': 651791,
  'tested': 6021395},
 {'confirmed': 10421, 'deceased': 18, 'recovered': 7388, 'tested': 255951},
 {'confirmed': 185444,
  'deceased': 735,
  'other': 3,
  'recovered': 150773,
  'tested': 3625167},
 {'confirmed': 186690,
  'deceased': 912,
  'other': 1,
  'recovered': 173795,
  'tested': 7593645},
 {'confirmed': 12360, 'deceased': 172, 'recovered': 10396, 'tested': 80300},
 {'confirmed': 121400,
  'deceased': 1031,
  'recovered': 91077,
  'tested': 1155975},
 {'confirmed': 287930,
  'deceased': 5472,
  'recovered': 257224,
  'tested': 3230952},
 {'confirmed': 3071,
  'deceased': 2,
  'other': 32,
  'recovered': 2936,
  'tested': 65539},
 {'confirmed': 34900, 'deceased': 450, 'recovered': 29527, 'tested': 259777},
 {'confirmed': 141397,
  'deceased': 3490,
  'recovered': 121219,
  'tested': 4588563},
 {'confirmed': 15695,
  'deceased': 205,
  'other': 25,
  'recovered': 12173,
  'tested': 303927},
 {'confirmed': 132576,
  'deceased': 1450,
  'recovered': 118258,
  'tested': 1999250},
 {'confirmed': 86277, 'deceased': 734, 'recovered': 74604, 'tested': 2363412},
 {'confirmed': 78228, 'deceased': 1231, 'recovered': 61351, 'tested': 1685809},
 {'confirmed': 630516,
  'deceased': 9219,
  'other': 19,
  'recovered': 508495,
  'tested': 5174652},
 {'confirmed': 221334,
  'deceased': 814,
  'other': 82,
  'recovered': 139620,
  'tested': 3104878},
 {'confirmed': 4477, 'deceased': 61, 'recovered': 3315, 'tested': 56277},
 {'confirmed': 1430861,
  'deceased': 37758,
  'other': 440,
  'recovered': 1134555,
  'tested': 7035296},
 {'confirmed': 6456, 'deceased': 54, 'recovered': 4319, 'tested': 153177},
 {'confirmed': 11649, 'deceased': 71, 'recovered': 9081, 'tested': 246769},
 {'confirmed': 133918,
  'deceased': 2399,
  'recovered': 111712,
  'tested': 2117799},
 {'confirmed': 2120, 'recovered': 1772, 'tested': 81967},
 {'confirmed': 6429,
  'deceased': 12,
  'other': 55,
  'recovered': 5212,
  'tested': 81538},
 {'confirmed': 232713,
  'deceased': 960,
  'recovered': 198194,
  'tested': 3440835},
 {'confirmed': 117319,
  'deceased': 3562,
  'recovered': 99468,
  'tested': 1928289},
 {'confirmed': 28752, 'deceased': 534, 'recovered': 23344, 'tested': 202784},
 {'confirmed': 141846,
  'deceased': 1530,
  'recovered': 119241,
  'tested': 3182409},
 {'confirmed': 3050, 'deceased': 43, 'recovered': 2367, 'tested': 51333},
 {'confirmed': 199276,
  'deceased': 1163,
  'recovered': 170212,
  'tested': 3205249},
 {'confirmed': 614507,
  'deceased': 9718,
  'recovered': 558534,
  'tested': 7613999},
 {'confirmed': 26871,
  'deceased': 290,
  'other': 23,
  'recovered': 21387,
  'tested': 398609},
 {'confirmed': 6553027,
  'deceased': 101841,
  'other': 923,
  'recovered': 5509615,
  'tested': 78992534},
 {'confirmed': 410626,
  'deceased': 5977,
  'recovered': 356826,
  'tested': 10579701},
 {'confirmed': 50062,
  'deceased': 648,
  'other': 243,
  'recovered': 41095,
  'tested': 736371},
 {'confirmed': 266974,
  'deceased': 5132,
  'recovered': 234712,
  'tested': 3355726}]

In [39]:
df = pd.DataFrame(data1)
df.drop(columns='other',inplace = True)
df

    confirmed  deceased  recovered    tested
0        3868      53.0       3642     61231
1      713014    5941.0     651791   6021395
2       10421      18.0       7388    255951
3      185444     735.0     150773   3625167
4      186690     912.0     173795   7593645
5       12360     172.0      10396     80300
6      121400    1031.0      91077   1155975
7      287930    5472.0     257224   3230952
8        3071       2.0       2936     65539
9       34900     450.0      29527    259777
10     141397    3490.0     121219   4588563
11      15695     205.0      12173    303927
12     132576    1450.0     118258   1999250
13      86277     734.0      74604   2363412
14      78228    1231.0      61351   1685809
15     630516    9219.0     508495   5174652
16     221334     814.0     139620   3104878
17       4477      61.0       3315     56277
18    1430861   37758.0    1134555   7035296
19       6456      54.0       4319    153177
20      11649      71.0       9081    246769
21     133918    2399.0     111712   2117799
22       2120       NaN       1772     81967
23       6429      12.0       5212     81538
24     232713     960.0     198194   3440835
25     117319    3562.0      99468   1928289
26      28752     534.0      23344    202784
27     141846    1530.0     119241   3182409
28       3050      43.0       2367     51333
29     199276    1163.0     170212   3205249
30     614507    9718.0     558534   7613999
31      26871     290.0      21387    398609
32    6553027  101841.0    5509615  78992534
33     410626    5977.0     356826  10579701
34      50062     648.0      41095    736371
35     266974    5132.0     234712   3355726